/* * {
  border: solid;
} */

.portfolioLink {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  background-color: grey;
  border-radius: 15%;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
}

.App {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.95), transparent);
  background-repeat: no-repeat;
  padding: 2px;
}

.App-header {
  background-color: #282c34;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
.navbarItem {
  background-color: silver;
  color: black;
}
.memeTable{
  display: flex;
  flex-direction: column;
}
.memeData {
  position: absolute;
  align-items: center;
  
  
}

img {
  padding: 5px;
}