/* * {
  border: solid;
} */

.portfolioLink {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  background-color: grey;
  border-radius: 15%;
  padding: 2px;
  font-family: 'Times New Roman', Times, serif;
  font-size:25px;
}

.App {
  background: radial-gradient(rgba(0, 0, 0, 0.95), transparent);
  background-repeat: no-repeat;
  padding: 2px;

}

.App-header {
  background-color: #1e1e1f;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
.navbarItem {
  background-color: silver;
  color: black;
}

.board{
  /* border: solid; */

}

.toggleButton{
  width: 100%;
  height: 55px;
  font-size: large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:lawngreen;
  border: solid;
  border-color:brown;
  border-radius: 15px;
}

.loginBoard, .registerBoard{
  background-color: burlywood;
  font-family:cursive;
  /* border: solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 25px;

}
.username, .password, .name{
  width: 30%;
}
.loginInput, .signUpInput{
  margin: 2px;
  width: 100%;
}
.login, .signUp{
  margin: 15px;
}
.btn{
  font-size: large;
}

.memeBox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.meme {
  background-color:rgba(0, 0, 0, 0.95);
  color:orange;
  margin: 1px;
  border-radius: 15px;

}

img {
  padding: 5px;
}

.footer {
  background-color: black;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 15px;
}